.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.nav-contx {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.menu-items {
  order: 1;
  display: flex;
}
.reg-color {
  color: #614385;
}
.log-color {
  color: #fa0202;
}
.hover-list-color:hover {
  color: #ff5100 !important;
}



.up-icon{
  position: absolute;
  top: 22px;
  right: 70px;
}

.up-icon svg{
  font-size: 1.8rem;
}

@media only screen and (max-width: 767.98px) {
  .nav-contx {
    max-width: 1500px;
    width: 100%;
    margin: auto;
  }
}
.navbar {
  box-shadow: 0px 0px 10px 0px #aaa;
  position: fixed;
  top: 0px;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 100;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.1rem;
  margin-top: 18px;
}
.navbar a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.navbar a:hover {
  color: #ff671f;
}
.logo-image {
  position: relative;
  top: -1px;
  left: -180px;
}
@media (max-width: 767.98px) {
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .menu-items li {
    list-style: none;
    margin-left: 15px;
    font-size: 1.1rem;
    margin-top: 18px;
  }
  .navbar-container {
    display: block;
    position: relative;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .search__input:focus-visible {
    outline: none;
  }

  .navbar .menu-items {
    position: absolute;
    top: 60px;
    padding-top: 40px;
    background: #fffffff0;
    height: 100vh;
    width: 109%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    transition: transform 0.5s ease-in-out;
    overflow: scroll;
  }
  .navbar .menu-items li {
    font-size: 1.1rem;
    font-weight: 500;
  }
  /* .logo-image {
      position: absolute;
      top: 1px;
      left: 70px;
      order: 1;
    } */
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}
.search__container {
  position: relative;
}
.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 1.5rem;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

@media only screen and (max-width: 1025px) {
  .logo-image {
    left: -135px;
  }
}

@media only screen and (max-width: 767.98px) {
  .logo-image {
    left: 180px;
  }
  .search__container {
    padding-right: 15px;
    padding-left: 13px;
  }
  .searchInputIcon {
    position: absolute;
    right: 1.7rem;
    top: 1.5rem;
    color: #a1a1a1;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }
}
.search__input {
  margin-top: 10px;
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.search__input::placeholder {
  color: color(#575756 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search__input:focus-visible {
  outline: #ff5100;
}
.search__input:hover,
.search__input:focus {
  border: 1.5px solid #ff671f;
}

@media only screen and (max-width: 500px) {
  .logo-image {
    left: 90px;
  }
}
